<html>
<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	function setData(name) {
    var p_class_name=name;
    toggle(p_class_name);
    console.log("setData들어옴");
    var url="http://localhost:3000/"+p_class_name.substring(1,p_class_name.length);
    console.log(url);
    $.ajax({
            url : url,
            type : 'get',
            success : function(result){
              console.log('들어옴 : ' + result);
              $(p_class_name+'Data').text(result);
            }
          });
	}

	//set한 데이터 문단 visible 여부
  function toggle(name){
    console.log('toggle 들어옴'+name+'Data');
		 var class_names = ['.nodejsData','.bootData','.javascriptData'];

		 //toggle 처리 전 기존에 block되어있던 문단은 none
		 for (var i=0; i<3; i++) {
			 if ($(class_names[i]).css('display')=='block') {
		 	 $(class_names[i]).css('display','none');
		  }
		 }

    var displayStatus = $(name+'Data').css('display');
    console.log(displayStatus);
    if(displayStatus=='none'){
        $(name+'Data').css('display','block');
    }else{
        $(name+'Data').css('display','none');
      }
  }
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>웹 페이지 test</title>
</head>
<body>
  <div>
    <div>
      <p class="nodejs" onclick="setData('.nodejs')">
          1. Node.js
      </p>
      <p class="nodejsData" style="display:none;"></p>
    </div>
    <div>
      <p class="boot" onclick="setData('.boot')">
          2. SpringBoot
      </p>
        <p class="bootData" style='display:none;'></p>
    </div>
    <div>
      <p class="javascript" onclick="setData('.javascript')">
          3. JavaScript
      </p>
        <p class="javascriptData" style="display:none;"></p>
    </div>

  </div>
</body>
</html>
